html {
  font-size: 100%;
}

p {
    font-family: "Exo", Georgia, Helvetica, sans-serif;
    color: #BB994F;
}

body {
  text-align: center;
  margin: 0 auto;
  background-color: #5D2E6E;
}

#header {
  padding: 4px;
  margin: 0 auto;
}

#box {
  width: 90%;
  margin: 0 auto;
}

#joke {
  color: #BB994F;
}

h1 {
  font-family: "Lobster Two", Georgia, serif, cursive;
  font-size: 2rem;
  color: #ffffff;
}

#links li {
  border: 1px solid #88754A;
  margin: 0;
  padding: 0;
  text-decoration: none;
  float: left;
  width: 30%;

}

#links {
  padding: 1px;
  list-style-type: none;
  text-align:center;
  text-decoration: none;
  padding: 4px;
  font-family: "Tangerine", cursive;
}


/*#links a:link, a:visited {
  display: block;
  color: #ff1992;
  text-decoration: none;
}

#links a:hover, a:active {

}*/

#links a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #4A6E5F;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 5px;
    font-family: "Tangerine", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

#links a:hover, a:active {
    background-color: #44BB89;
  }


    img {
      border: none;
    }
