html {
  font-size: 100%;
}

h2 {
  font-family: "Lobster Two", Georgia, serif, cursive;
  color: #ffffff;
}

p {
    font-family: "Exo", Georgia, Helvetica, sans-serif;
    color: #BB994F;
}

body {
  text-align: center;
  margin: 0 auto;
  background-color: #123;
}

.links {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  justify-content: space-around;
  /*border: auto;*/
  /*margin-left: 30px;*/
  padding-left: 0px;
}


#header {
  padding: 4px;
  margin: 0 auto;
}

#box {
  width: 90%;
  margin: 0 auto;
}

#joke {
  color: #BB994F;
}

aside {
  display: flex;
  flex-flow: row wrap;
  padding: 10vh;
}

.aside-1{
  display: flex;
  background: gold;
  justify-content: space-around;
}

h1 {
  font-family: "Lobster Two", Georgia, serif, cursive;
  font-size: 2rem;
  color: #ffffff;
}

.links li {
  border: 1px solid #88754A;
  margin: 0;
  padding: 0;
  text-decoration: none;
  float: left;
  width: 90vw;

}

.links li {
  padding: 1px;
  list-style-type: none;
  text-align:center;
  text-decoration: none;
  padding: 4px;
  font-family: "Tangerine", cursive;
  display: block;
}

.navigation {
  width: 90%;
}

#box .links {
  /*margin:none;*/
  /*padding: none;*/
}


/*#links a:link, a:visited {
  display: block;
  color: #ff1992;
  text-decoration: none;
}

#links a:hover, a:active {

}*/

.links a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #4A6E5F;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 5px;
    font-family: "Tangerine", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.links a:hover, a:active {
    background-color: #44BB89;
  }


    img {
      border: none;
      display: none;
    }

    .text {
      display: block;
    }

    .navigation ul {
      display: none;
    }


    #header {
        display: flex;
        flex-flow: row wrap;
      }

    .menu-trigger {
      display: flex;
      flex-flow: row wrap;
        order: 1;
        font-size: 2em;
        width: 1em;
        padding-left: 0;
        margin: 0;

    }

    #header h1{
      display: flex;
      flex-flow: row wrap;
      order: 2;
      padding-left: 0;

    }

.menu-trigger, #header h1 {
  flex: 1 auto;
}

/*.map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}*/

.map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


@media all and (min-width: 700px) {

    #box {
      display: flex;
    }

    .links {
      display: flex;
      width: 100vh;
    }


 .aside-1 {
      display: flex;
     order: 2;
     width: 25vh;
     float: right;
     /*align-items: flex-end;
     justify-content: flex-end;*/
         flex: 1 auto;

 }

 aside {
      display: flex;
    padding-top: 30px;
    padding-bottom: 100vh;
    padding-left: 5px;
    padding-right: 5px;
    /*flex: 1 auto;*/
         margin-right: 35px;
 }

 article {
   display: flex;
   flex-flow: row wrap;
   flex: 1 auto;
 }



 /*article {
     order: 2;
     width: 100vh;
     margin: 0 0 0 0;
     flex: 3 0px;
 }*/


img {
  width: 25%;
  display: flex;
  flex: 1 auto;
  order: 1;
  margin: 0px;
  justify-content: center;
}

article a {
  width: 60%;
}

.text {
  width: 85vh;
  order: 2
}

.menu-trigger {
    display: none;
}
.navigation ul{
  display: flex;
}


    /*aside {
      padding: 50px 0px;*/
      /*align-self: flex-end;
      justify-content: flex-start;
    }

    /*.aside-1 {
      order: 1;
    }

 .links{
   order: 2
 }

 #header {
   order: 3;
 }

 #joke {
   order: 4
 }*/

/*aside, article {
  flex-direction: row;
}*/


 /*aside {
   /*flex-flow: column;*/
   /*flex: 2 auto;
 }

 article {
   flex: 3 0px;
 }*/




 /*article {
 flex: 3 0px;
}*/

 /*.aside-1 {
     order: 3;
 }*/

 .map-wrapper {
     overflow:hidden;
     padding-bottom:56.25%;
     position:relative;
     height:100;
 }

 .map-wrapper iframe{
     left:0;
     top:0;
     height:100%;
     width:100%;
     position:absolute;
 }

}

@media all and (min-width: 900px) {
  img {
    width: 50%;
    display: block;
    flex: 1 auto;
  }

  .links {
    display: flex;
    flex-flow: row;
    width: 33%;
    justify-content: space-between;
  }

  aside {
    max-width: 400px;
  }
  .map-wrapper {
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      display: block;
  }

  .map-wrapper iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;

  }


  }
